<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MC Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="/public/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/public/admin/css/sb-admin-2.css" rel="stylesheet">

     <!-- Include jQuery -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <!-- Include DataTables -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

         <!-- Include DataTables RowReorder -->
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.3.1/css/rowReorder.dataTables.min.css">
    <script src="https://cdn.datatables.net/rowreorder/1.3.1/js/dataTables.rowReorder.min.js"></script>

    <!-- Include DataTables Responsive -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800"></h1>
                                <p class="mb-4"></p>

                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-dark   ">Categories</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <% if(details!=null){ %>
                                            <table class="table table-bordered nowrap" id="dataTable" width="100%"
                                                cellspacing="0" >
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <!-- <tfoot>
                                                    <!-- <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Delete</th>

                                                    </tr> -->
                                                <!-- </tfoot> --> 
                                                <%details.forEach(function(item,i){%>
                                                <tbody>
                                                   
                                                            <tr>
                                                                <td scope="row">
                                                                    <%=i+1%>
                                                                </td>
                                                                <td style="color: rgb(77, 77, 77);font-weight: 700;">
                                                                    <%=item.name%>
                                                                </td>
                                                            
                                                                <td class="d-flex justify-content-center">
                                                                
                                                                    <a
                                                                    href="/admin/category/edit?id=<%= item._id%>"
                                                                    onclick="return confirm('Are you sure to edit <%= item.name %>?')"
                                                                    ><i
                                                                    class="py-1 fa fa-edit fa-lg text-dark"
                                                                  ></i>
                                                                  </a> 
                                                                  <a
                                                                    href="/admin/category/delete?id=<%= item._id%>"
                                                                    onclick="return confirm('Are you sure to delete <%= item.name %>?')"
                                                                    ><i
                                                                      class="py-1 fa fa-trash fa-lg text-danger ml-3"
                                                                      aria-hidden="true"
                                                                    ></i>
                                                                  </a>
                                                               

                                                                
                                                                </td>
                                                            </tr>

                                                           
                                                </tbody>
                                                <%})%>
                                            </table>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 ">
                            <div class="col-lg-6 m-auto ">
                                <div class="p-5 justify-content-center" >
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Add Category</h1>
                                        <p class="text-danger mt-0 fw-bold text-uppercase">
                                            <%= locals.errorMessage %>
                                          </p>
                                    </div>

                                    <!-- add category -->

                                    <form class="user" onsubmit="return addCategory('hey')" action="/admin/category" method="post" >
                                        <div class="form-group">
                                            <input type="string" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Category Name" name="category" required>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <input type="file" multiple name="image" accept="image/*">

                                        </div> -->
                                        <div class="text-danger d-flex justify-content-center mb-2"></div>
                                        <input type="submit"  value="Add Category"
                                            class="btn btn-dark btn-user btn-block" style="font-weight: bold;">
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- <script>
        function addCategory(e){
            Toastify({
										text: `Category Added Successfully`,
										duration: 5000,
										newWindow: true,
										close: true,
										gravity: "top", // top or bottom
										position: "center", // left, center or right
										backgroundColor: "linear-gradient(to right, #FF0000, #000000)",
									}).showToast();
        }
    </script> -->
        <!-- toaster -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="/public/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/public/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/public/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/public/admin/js/sb-admin-2.min.js"></script>

    <script src="/public/admin/vendor/datatables/jquery.dataTables.js"></script>

        <!-- ====== initialiizng data table plugin ========= -->
        <script>
            $(function () {
           const dataTable = $("#dataTable").DataTable({
             rowReorder: {
               selector: 'td:nth-child(2)'
             },
             responsive: true
           });
           new $.fn.dataTable.FixedHeader(table);
         });
         </script> 

</body>

</html>