<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpg" href="/public/img/timeless-favicon.png">
	<%- include('./partials/header') -%>
	
	<!-- Product -->
	<div class="bg0 m-t-23 p-3">
		<div class="container">
			<!-- <div class="d-flex justify-content-center pb-5 text-uppercase"> <h4><%=listingName%></h4></div> -->
			<div class="text-center  d-flex justify-content-between px-4 ">
<!-- filter  -->
				

				<div class="btn-group dropright " >
					<a role="button"  href="" class="btn btn btn-outline-dark  dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Filter<i class="bi bi-filter"></i>
					</a>
					<ul class="dropdown-menu">
						<%brands.forEach((brand, i) => {%>
					<li>
						
						<label class="dropdown-item  d-flex" >
							<input class="d-none"
							type="radio",
							name="filerOption"
							onclick="filter('<%=brand.name%>', '<%=brand._id%>' , '<%=listingName%>')"
							><%=brand.name%>
						</label>
					</li>	
					
					<%})%>
					<hr>
					<li>
						<label class="dropdown-item">
						<input class="d-none"
							type="radio"
							name="filterOption"
							onclick="removeFilter('none')"
						  >
						  NO Filter
						</label>
					</li>
					
						</ul>
				</div>
				<span
				class="font-weight-bold d-none d-lg-block text-uppercase"
				style="font-size: 1.25rem"
				><%=listingName%></span
			  >

				<div class="btn-group dropright " >
					<a role="button" href="#" class="btn btn btn-outline-dark  dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					SORT<i class="bi bi-filter"></i>
					</a>
					<ul class="dropdown-menu">
						
					<li>
						

					</li>
					<li>
						
						<label class="dropdown-item" >
							<span 
							name="filerOption"
							onclick="sortBy('ascending')"
							>Low to High</span>
						</label>
					</li>
					<li>
						
						<label class="dropdown-item" >
							<span 
							name="filerOption"
							onclick="sortBy('descending')"
							>High to Low</span>
						</label>
					</li>
					
						
					
					
						</ul>
				</div>
				
			  

			 
				

			</div>
			<hr>
			<div class="container  text-center pb-5">
				<div class="input-group flex-nowrap my-auto mx-auto" style="width: 250px">
				  <input
					type="text"
					id="searchInput"
					onkeyup="search('<%=listingName%>')"
					class="form-control"
					placeholder="Search"
					aria-label="Search"
					aria-describedby="addon-wrapping"
				  />
				  <span class="input-group-text" id="searchButton"
					><button
					  class="btn bg-transparent btn-sm"
					  style="font-size: 0.75rem"
					  onclick="removeFilter('none')"
					>
					  All Products<br /></button
				  ></span>
				</div>
			  </div>
	
<div id="productContainer">
			<%if(listing!==null){%>
			<div class="row isotope-grid">
				<%listing.forEach(product=>{%>
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2 border shadow p-2">
						<div class="block2-pic hov-img0">
							<a href="/products/<%=product._id%>">
							<img src="/public/img/products/<%=product.thumbnail%>" alt="IMG-PRODUCT">
						</a>
							<!-- <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Quick View
							</a> -->
							<a href="/products/<%=product._id%>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									<%=product.brand.name%>
								</a>
								<h5>
									<%=product.name%>
								</h5>
								<span class="stext-105 cl3">
									<%=product.category.name%>
								</span>

								<span class="stext-105 cl3">
									$<%=product.price%>
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
					
								
							</div>
						</div>
					</div>
				</div>
				<%})%>
				
			</div>
			<%}%>
		</div>
			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</div>
		


	<%- include('./partials/footer') -%>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	

<!--===============================================================================================-->	
	<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/slick/slick.min.js"></script>
	<script src="/public/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/public/js/main.js"></script>

	<script src="/public/js/productListing.js"></script>

</body>
</html>