<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=locals.documentTitle%></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/magnify.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	

	<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!--===============================================================================================-->

<link rel="stylesheet" href="/public/admin/css/index.css">
<style>
    /* Increase z-index for SweetAlert */
    .swal2-container {
        z-index: 9999; /* Adjust this value as needed */
    }

    /* If you want to increase z-index for other elements as well, you can do it here */
</style>
</head>
 <!-- Logout Modal-->
 <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>
         <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
         <div class="modal-footer">
             <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
             <a class="btn btn-primary" href="/logOut">Logout</a>
         </div>
     </div>
 </div>
</div>
<body class="animsition">
<!-- Header -->
<header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    <!-- Free shipping for standard order over $100 -->
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>
                    <%if(session){%>
                        <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-2">
                            <a href="/logOut" class="flex-c-m trans-04 p-lr-25">
                                LogOut
                            </a>
                              <% }else{%>
                                <a href="/login" class="flex-c-m trans-04 p-lr-25">
                                    Login
                                </a>
                                <%}%>
                          </span>	
                    
<!-- 
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        USD
                    </a> -->
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop" >
            <nav class="limiter-menu-desktop container "style="z-index: 9999;">
                
                <!-- Logo desktop -->	
                    
                <a href="/" class="logo">
                    
                    <img src="/public/img/-logo.png" alt="IMG-LOGO">
                </a>
                <h3 class="logoText">
                    
                </h3>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <!-- <li ">
                            <a href="">BRANDS</a>
                        </li> -->

                        <li>
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=men">MEN</a></h5>
                        </li>

                        <li>
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=women">WOMEN</a></h5>
                        </li>
                        <li ">
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=kids">KIDS</a></h5>
                        </li>
<!-- 
                        <li class="label1" data-label1="hot">
                            <a href="blog.html">OFFERS</a>
                        </li>

                        <li>
                            <a href="about.html">ABOUT</a>
                        </li>

                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li> -->
                    </ul>
                </div>	

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <!-- ========= -->
<!-- js class for temlate cart showing = js-show-cart-->
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                    <h5><a class="text-decoration-none text-dark ps-5" href="/products?category=collection">COLLECTION</a></h5>
                    </div>
                    <%if(session){%>
                    <div id="cartCount">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti " data-notify="<%=locals.userCart.totalQuantity%>"id="itemCount"  > 
                        
                        <a href="/cart"><i class="zmdi zmdi-shopping-cart cl2"></i></a>

                    </div>
				</div>
					
                    <div >
                        <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
                    
                    
                    
                    <% }else{%>
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                            <h5><a class="text-decoration-none text-dark " href="/login">SIGN-IN</a></h5>
                            </div>
                            <%}%>
                            <span class="nav-item nav-link text-center mb-2 mb-lg-0 ms-lg-3 ">
                                <% if(session){%>
                                <div class="d-block d-lg-none">
                                  <hr />
                                  <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                                    <a class="nav-link fw-bold " href="/users/profile"
                                      ><img
                                        src="/Public/img/users/<%=locals.currentUser.photo%>"
                                        height="25px"
                                        alt=""
                                        class="mx-2"
                                      /><%=locals.currentUser.name%></a
                                    >
                                  </span>
                                  <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                                    <a
                                      class="nav-link"
                                      style="font-size: 0.85rem"
                                      href="/users/signOut"
                                      >Sign out</a
                                    >
                                  </span>
                                </div>
                                <div class="btn-group dropstart d-none d-lg-block">
                                  <button
                                    type="button"
                                    class="btn dropdown-toggle button-div border"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    style="
                                      text-transform: uppercase;
                                      letter-spacing: 2px;
                                      color: rgb(0, 0, 0);
                                      font-weight: 600;
                                      border: black;
                        
                                    "
                                  >
                                    <img
                                      src="/Public/img/users/<%=locals.currentUser.photo%>"
                                      height="25px"
                                      alt=""
                                      style="border-radius: 20px;"
                                    />
                                  </button>
                                  <ul class="dropdown-menu" style="font-size: 0.75rem;background-color: #ffffff;">
                                    <li
                                      class="dropdown-item border-bottom"
                                      style="pointer-events: none;color: rgb(20, 141, 247);"
                                    >
                                      <%=locals.currentUser.name%>
                                    </li>
                                    <li >
                                      <a class="dropdown-item" id="icon-item" href="/profile">Profile</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" id="icon-item" href="/orders">Orders</a>
                                    </li>
                                    <li class="border-bottom">
                                      <a class="dropdown-item" id="icon-item" href="/addresses">Address</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" id="icon-item" href="/signOut">Sign Out</a>
                                    </li>
                                  </ul>
                                </div>
                  
                                <% }else{%>
                                <!-- <a class="nav-link" href="/regi">Sign In</a> -->
                                <%}%>
                              </span>

                    
                    
                </div>
            </nav>
        </div>	
    </div>

    <!-- Header Mobile -->
	<div class="wrap-header-mobile">
        <!-- Logo moblie -->		
        <div class="logo-mobile">
            <a href="/"><img src="/public/img/-logo.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <%if(session){%>
                    
			<div id="#">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti " data-notify="<%=locals.userCart.totalQuantity%>"id="#"  > 
					
					<a href="/cart"><i class="zmdi zmdi-shopping-cart cl2"></i></a>

				</div>
			</div>
            <div id="wish-count">
                <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>
            <%}%>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">

        <ul class="main-menu-m bg-black">

            <li>
                <a href="/profile">PROFILE</a>
            </li>

            <li>
                <a href="/wishlist">WISHLIST</a>
            </li>

            <li>
                <a href="/orders">ORDERS</a>
            </li>

            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>

</header>





	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-110 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/categories?category=<%=productDetails.category.name%>" class="stext-110 cl8 hov-cl1 trans-04">
				<%=productDetails.category.name%>
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				<%=productDetails.brand.name%>
			</span>
			<!-- <h5>
				<%=productDetails.name%>
			</h5> -->
		</div>
	</div>
		

	<!-- Product Detail -->
	<%if(productDetails !=null){%>
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="/public/img/products/<%=productDetails.thumbnail%>" >
									<div class="wrap-pic-w" style="display: flex;justify-content: center;">
										<img src="/public/img/products/<%=productDetails.thumbnail%>" alt="IMG-PRODUCT" id="image" class="zoom" alt="IMG-PRODUCT" data-magnify-src="/public/img/products/<%=productDetails.thumbnail%>">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/public/img/products/<%=productDetails.images[0]%>"">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								<div class="item-slick3" data-thumb="/public/img/products/<%=productDetails.images[0]%>" >
									<div class="wrap-pic-w" style="display: flex;justify-content: center;">
										<img src="/public/img/products/<%=productDetails.images[0]%>" alt="IMG-PRODUCT" id="image" class="zoom" alt="IMG-PRODUCT" data-magnify-src="/public/img/products/<%=productDetails.images[0]%>">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/public/img/products/<%=productDetails.images[0]%>"">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="/public/img/products/<%=productDetails.images[1]%>">
									<div class="wrap-pic-w " style="display: flex;justify-content: center;">
										<img src="/public/img/products/<%=productDetails.images[1]%>" alt="IMG-PRODUCT" class="zoom" data-magnify-src="/public/img/products/<%=productDetails.images[1]%>">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/public/img/products/<%=productDetails.images[1]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="/public/img/products/<%=productDetails.images[2]%>">
									<div class="wrap-pic-w"style="display: flex;justify-content: center;">
										<img src="/public/img/products/<%=productDetails.images[2]%>" alt="IMG-PRODUCT"class="zoom" data-magnify-src="/public/img/products/<%=productDetails.images[2]%>">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/public/img/products/<%=productDetails.images[2]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<span>
							<%=productDetails.brand.name%>
						</span>
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%=productDetails.name%>
						</h4>

						<!-- <span class="mtext-106 cl2">
							₹<%=productDetails.price%>
						</span> -->
						<p class="mtext-106 cl2">Price: ₹<%=productDetails.price%>
							<% if(productDetails.initialPrice){%> <s style="color: rgb(136, 125, 125);">₹
								<%=productDetails.initialPrice%></s>
							  <span style="color: rgb(233, 128, 86);">(<%=percentageOffer%>%)</span>
							  <%}%>
						</p>
						<%if(!productDetails.stock){%>
						<h4 class="mtext-106 text-danger p-t-23">
							Out Of Stock
						</h4>
					<%}%>
						<!--  -->
						<div class="p-t-33">
				
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next ">

										

										<button id="buyNow" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04  mr-2" onclick="buyNow('<%=productDetails._id%>')">
											Buy Now
										</button>
									<!-- </div> -->

									<button id="addToCart" class="flex-c-m stext-101 cl2 size-101 border  bor1 hov-btn1 p-lr-15 trans-04 " onclick="addToCart(`<%=productDetails._id%>`)">
										Add to cart
									</button>
								</div>
							</div>	
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<!-- <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite"></i>
								</a> -->
								<button class="bg-transparent border-0" id="wishlistHeart" onclick="addToWishlist('<%=productDetails._id%>')">
									<i class="zmdi zmdi-favorite  <%if(productExistInWishlist == null){%>text-dark<%}else{%>text-danger<%}%>"></i>
								  </button>
							</div>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class=" m-t-50 p-t-43 p-b-40 shadow border">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">

						<li class="nav-item p-b-10">
							<a class="nav-link active text-uppercase" data-toggle="tab" href="#information" role="tab">Additional information</a>
						</li>
						<% if (numberOfReviews!=null){%>
						<li class="nav-item p-b-10">
							<a class="nav-link  text-uppercase" data-toggle="tab" href="#reviews" role="tab">Reviews (<%=numberOfReviews%>)</a>
						</li>
						<%}%>
					</ul>
	

					<!-- Tab panes -->
					<div class="tab-content p-t-43">

						<!-- - -->
						<div class="tab-pane fade show active" id="information" role="tabpanel">
							<div class="row ">
								
								<div class="col-sm-10 col-md-8 col-lg-6 dis-flex justify-content-center">
									<ul class="p-lr-28 p-lr-15-sm">
										<li class="flex-w flex-t p-b-7 justify-content-between">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												referenceNumber
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.referenceNumber%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												caseMaterial 
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.caseMaterial%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												movement
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.movement%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												Category 
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.category.name%>
											</span>
										</li>

										
									</ul>
								</div>
								<div class="col-sm-10 col-md-8 col-lg-6 dis-flex justify-content-center">
									<ul class="p-lr-28 p-lr-15-sm">
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												color 
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.color%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												strapMaterial 
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.strapMaterial%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												warranty
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.warranty%>
											</span>
										</li>
										<li class="flex-w flex-t p-b-7">
											<span class="stext-110 cl3 size-205 text-uppercase font-weight-bold">
												waterResistance 
											</span>
											
											<span class="stext-110 cl3 size-206 text-uppercase">
												: <%=productDetails.waterResistance%>
											</span>
										</li>

										
									</ul>
								</div>
								
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade " id="reviews" role="tabpanel">
							<!-- <div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<div class="p-b-30 m-lr-15-sm"> -->
										
										<!-- ==================== -->
								<!-- Review Carousel -->
								<!-- Review Carousel -->
<%if(reviews!=null){%>
		<div class="container d-flex justify-content-center" id="reviewContainer">
		  <div class="row carousal-row">
			  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
				  <div class="carousel-inner">
					<div class="carousel-item active">
					  <div class="cards-wrapper card_wrap">
						  <div class="card cardMargin">
							<div class="card-body ">
							  
							  <div class=" text-center" style="position: relative;">
								<span>
								  <% for( i=1; i<=5; i++){ %>
									<%if(i<=reviews[0].rating){%>
									<span style="color: yellow">★</span>
									<%}else{%>
									  <span style="color: gray">★</span>
								  <%}}%>
								</span>
								<span id="helpful<%=reviews[0]._id%>" style=" position: absolute; right: 0;">
								  <button onclick="helpful('<%=reviews[0]._id%>')" class="btn btn-sm rounded" style="background-color: #f3f3f3;"><%=reviews[0].helpful%> 👍</button>
								</span>
							  </div>
							  <h6 class="my-1 card-title"><%=reviews[0].review%></h6>
							  <div>
								<p class="card-text" style="font-size: 0.65rem"><%=reviews[0].customer.fname%></p>
								<p class="card-text" style="font-size: 0.65rem"><%=moment(reviews[0].createdAt).format('ll') %></p>
							  <img src="/public/img/users/<%=reviews[0].customer.photo%>" class="card-img-top w-25 rounded-2" alt="..."></a>
							  </div>
							  </div>
							</div>
							<%if(reviews[1]){%>
							<div class="card cardMargin">
							  <div class="card-body">
								<div class=" text-center" style="position: relative;">
								  <span>
									<% for( i=1; i<=5; i++){ %>
									  <%if(i<=reviews[1].rating){%>
									  <span style="color: yellow">★</span>
									  <%}else{%>
										<span style="color: gray">★</span>
									<%}}%>
								  </span>
								  <span id="helpful<%=reviews[1]._id%>" style=" position: absolute; right: 0;">
									<button onclick="helpful('<%=reviews[1]._id%>')" class="btn btn-sm rounded" style="background-color: #f3f3f3;"><%=reviews[1].helpful%> 👍</button>
								  </span>
								</div>
								<h6 class="my-1 card-title"><%=reviews[1].review%></h6>
								<p class="card-text" style="font-size: 0.65rem"><%=reviews[1].customer.fname%></p>
								<p class="card-text" style="font-size: 0.65rem"><%=moment(reviews[1].createdAt).format('ll') %></p>
								<img src="/public/img/users/<%=reviews[1].customer.photo%>" class="card-img-top w-25 rounded-2" alt="..."></a>
							   </div>
							 </div>
							 <%}%>
							<%if(reviews[2]){%>
							 <div class="card cardMargin">
							   <div class="card-body">
								<div class=" text-center" style="position: relative;">
								  <span>
									<% for( i=1; i<=5; i++){ %>
									  <%if(i<=reviews[2].rating){%>
									  <span style="color: yellow">★</span>
									  <%}else{%>
										<span style="color: gray">★</span>
									<%}}%>
								  </span>
								  <span id="helpful<%=reviews[2]._id%>" style=" position: absolute; right: 0;">
									<button onclick="helpful('<%=reviews[2]._id%>')" class="btn btn-sm rounded" style="background-color: #f3f3f3;"><%=reviews[2].helpful%> 👍</button>
								  </span>
								</div>
								 <h6 class="my-1 card-title"><%=reviews[2].review%></h6>
								 <p class="card-text" style="font-size: 0.65rem"><%=reviews[2].customer.fname%></p>
								 <p class="card-text" style="font-size: 0.65rem"><%=moment(reviews[2].createdAt).format('ll') %></p>
								 <img src="/public/img/users/<%=reviews[2].customer.photo%>" class="card-img-top w-25 rounded-2" alt="..."></a>
								 
							   </div>
							 </div>
							 <%}%>
					  </div>
					</div>
					<div class="carousel-item ">
						<div class="cards-wrapper card_wrap">
							<% for(var i=3; i<=6; i++){%>
							  <%if(reviews[i]!=null){%>
							  <div class="card cardMargin">
								<div class="card-body">
								  <div class=" text-center" style="position: relative;">
									<span>
									  <% for( j=1; j<=5; j++){ %>
										<%if(i<=reviews[i].rating){%>
										<span style="color: yellow">★</span>
										<%}else{%>
										  <span style="color: gray">★</span>
									  <%}}%>
									</span>
									<span id="helpful<%=reviews[i]._id%>" style=" position: absolute; right: 0;">
									  <button onclick="helpful('<%=reviews[i]._id%>')" class="btn btn-sm rounded" style="background-color: #f3f3f3;"><%=reviews[i].helpful%> 👍</button>
									</span>
								  </div>
								  <h6 class="card-title"><%=reviews[i].review%></h6>
								  <p class="card-text" style="font-size: 0.65rem"><%=reviews[i].customer.fname%></p>
								  
								  <p class="card-text" style="font-size: 0.65rem"><%=moment(reviews[i].createdAt).format('ll') %></p>
								  
								  <img src="/public/img/users/<%=reviews[i].customer.photo%>" class="card-img-top rounded-2 w-25" alt="...">
								</div>
							  </div>
							  <%}%>
								<%}%>
						  </div>
						</div>
				  </div>
				  <button class="carousel-control-prev" id="reviewButtomLeft" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon carousel-arrow" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" id="reviewButtomRight" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon carousel-arrow" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				  </button>
				</div>
		  </div>
		</div>
	<%}%>
	  <%if(session){%>
		<button class=" btn btn-sm btn-dark mb-3 col-lg-2 mb-4" id="addReview" onclick="reviewAdd('<%=productDetails._id%>')">Add a review</button>
	  <%}%> 
																	<!-- ================ -->

								<!-- </div>
							</div>
						</div> -->

					</div>
					
				</div>
				
			</div>
			
		</div>

	</section>

	<%}%>


	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<%if(listing!=null){%>
				<div class="slick2">
					<% listing.forEach((product,i)=>{%>
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2 border shadow p-2 ">
							<div class="block2-pic hov-img0">
								<img src="/public/img/products/<%=product.thumbnail%>" >

								<a href="/products/<%=product._id%>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
									Quick View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<span class="mtext-107 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%=product.brand.name%>
									</span>
	
									<h5>
										<%=product.name%>
									</h5>
	
	
									<span class="stext-105 cl3">
										$<%=product.price%>
									</span>
								</div>

							</div>
						</div>
					</div>
					<%})%>
		

					
				</div>
				<%}%>
			</div>
		</div>
	</section>
		

	<%- include('./partials/footer') -%>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


<!--===============================================================================================-->	
	<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/slick/slick.min.js"></script>
	<script src="/public/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/public/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="/public/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	
<script>
	$(document).ready(function() {
	  $('.zoom').magnify();
	});
	</script>



	
	<script src="/public/js/main.js"></script>

	<script src="/public/js/singleProduct.js"></script>



	<!-- sweet alert cdn -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- zoom  -->
<script  src="/public/js/jquery.magnify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>  -->
</body>
</html>