<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!--===============================================================================================-->
<style>
    /* Increase z-index for SweetAlert */
    .swal2-container {
        z-index: 9999; /* Adjust this value as needed */
    }

    /* If you want to increase z-index for other elements as well, you can do it here */
</style>
</head>
 <!-- Logout Modal-->
 <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>
         <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
         <div class="modal-footer">
             <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
             <a class="btn btn-primary" href="/logOut">Logout</a>
         </div>
     </div>
 </div>
</div>
<body class="animsition">
<!-- Header -->
<header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    <!-- Free shipping for standard order over $100 -->
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>
                    <%if(session){%>
                        <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-2">
                            <a href="/logOut" class="flex-c-m trans-04 p-lr-25">
                                LogOut
                            </a>
                              <% }else{%>
                                <a href="/login" class="flex-c-m trans-04 p-lr-25">
                                    Login
                                </a>
                                <%}%>
                          </span>	
                    

                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop" >
            <nav class="limiter-menu-desktop container "style="z-index: 9999;">
                
                <!-- Logo desktop -->	
                    
                <a href="/" class="logo">
                    
                    <img src="/public/img/-logo.png" alt="IMG-LOGO">
                </a>
                <h3 class="logoText">
                    
                </h3>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <!-- <li ">
                            <a href="">BRANDS</a>
                        </li> -->

                        <li>
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=men">MEN</a></h5>
                        </li>

                        <li>
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=women">WOMEN</a></h5>
                        </li>
                        <li ">
                            <h5><a class="text-decoration-none text-dark ps-5" href="/categories?category=kids">KIDS</a></h5>
                        </li>
                    </li>
                </ul>
            </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">

    
<!-- js class for temlate cart showing = js-show-cart-->
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                    <h5><a class="text-decoration-none text-dark ps-5" href="/products?category=collection">COLLECTION</a></h5>
                    </div>
                    <%if(session){%>
                    
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti " data-notify="<%=locals.userCart.totalQuantity%>"id="cartCount" > 
                        
                        <a href="/cart"><i class="zmdi zmdi-shopping-cart cl2"></i></a>

                    </div>
                    <div id="wish-count">
                        <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
                    
                    
                    
                    <% }else{%>
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                            <h5><a class="text-decoration-none text-dark " href="/login">SIGN-IN</a></h5>
                            </div>
                            <%}%>
                            <span class="nav-item nav-link text-center mb-2 mb-lg-0 ms-lg-3 ">
                                <% if(session){%>
                                <div class="d-block d-lg-none">
                                  <hr />
                                  <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                                    <a class="nav-link fw-bold " href="/users/profile"
                                      ><img
                                        src="/Public/img/users/<%=locals.currentUser.photo%>"
                                        height="25px"
                                        alt=""
                                        class="mx-2"
                                      /><%=locals.currentUser.name%></a
                                    >
                                  </span>
                                  <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                                    <a
                                      class="nav-link"
                                      style="font-size: 0.85rem"
                                      href="/users/signOut"
                                      >Sign out</a
                                    >
                                  </span>
                                </div>
                                <div class="btn-group dropstart d-none d-lg-block">
                                  <button
                                    type="button"
                                    class="btn dropdown-toggle button-div border"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    style="
                                      text-transform: uppercase;
                                      letter-spacing: 2px;
                                      color: rgb(0, 0, 0);
                                      font-weight: 600;
                                      border: black;
                        
                                    "
                                  >
                                    <img
                                      src="/Public/img/users/<%=locals.currentUser.photo%>"
                                      height="25px"
                                      alt=""
                                      style="border-radius: 20px;"
                                    />
                                  </button>
                                  <ul class="dropdown-menu" style="font-size: 0.75rem;background-color: #ffffff;">
                                    <li
                                      class="dropdown-item border-bottom"
                                      style="pointer-events: none;color: rgb(20, 141, 247);"
                                    >
                                      <%=locals.currentUser.name%>
                                    </li>
                                    <li >
                                      <a class="dropdown-item" id="icon-item" href="/profile">Profile</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" id="icon-item" href="/orders">Orders</a>
                                    </li>
                                    <li class="border-bottom">
                                      <a class="dropdown-item" id="icon-item" href="/addresses">Address</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" id="icon-item" href="/signOut">Sign Out</a>
                                    </li>
                                  </ul>
                                </div>
                  
                                <% }else{%>
                                <!-- <a class="nav-link" href="/regi">Sign In</a> -->
                                <%}%>
                              </span>

                    
                    
                </div>
            </nav>
        </div>	
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->		
        <div class="logo-mobile">
            <a href="/"><img src="/public/img/-logo.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <%if(session){%>
                    
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti " data-notify="<%=locals.userCart.totalQuantity%>"id="cartCount" > 
                
                <a href="/cart"><i class="zmdi zmdi-shopping-cart cl2"></i></a>

            </div>
            <div id="wish-count">
                <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>
            <%}%>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">

        <ul class="main-menu-m bg-black">

            <li>
                <a href="/categories?category=men">MEN</a>
            </li>

            <li>
                <a href="/categories?category=women">WOMEN</a>
            </li>

            <li>
                <a href="/categories?category=women">WOMEN</a>
            </li>

            <li>
                <a class="" href="/products?category=collection">OUR COLLECTION</a>
            </li>
            <!-- <li>
                <a href="about.html">ABOUT</a>
            </li>

            <li>
                <a href="contact.html">CONTACT</a>

            </li> -->
            <%if(session){%>
            <li>
                <a href="/logOut">SIGN-OUT</a>
            </li>
            <% }else{%>
            <li>
                <a href="/login">SIGN-IN</a>
            </li>
            <%}%>
        </ul>
    </div>


</header>


