<!DOCTYPE html>
<html lang="en">
<head>
	<title>TimeTrone /Address</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    

	<%- include('../layouts/header') -%>
	<!-- CheckOut -->
	<div class="container">
        <div class="text-center py-4">
          <span class="shadow-heading">Your Addresses</span>
        </div>
      </div>
            <!-- Button trigger modal -->
            <div class="container d-flex justify-content-center my-3">
              
              <button
                type="button"
                class="btn btn-dark text-center"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Add New Address
              </button>
            </div>
      
            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
              data-bs-backdrop="static"
            >
              <div class="modal-dialog">
                <div class="modal-content mt-5">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Add New Address
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                  <form action="addresses/addNew" method="post">
                          <div class="mb-3">
                            <input
                              type="text"
                              class="form-control"
                              id="buildNo"
                              onkeyup="build()"
                              name="building"
                              placeholder="Building Name/No."
                              style="text-transform: none;"
                            />
                            <span
                            id="buldmssg"
                            class="text-danger rounded"
                            style="font-size: 0.75rem; text-transform: none"></span>
                          </div> 
                          <div class="mb-3">
                            <input
                              type="text"
                              class="form-control"
                              id="address"
                              onkeyup="addresscheck()"
                              placeholder="Address"
                              name="address" 
                              required
                              style="text-transform: none;"
                            />
                            <span
                            id="addressmssg"
                            class="text-danger rounded"
                            style="font-size: 0.75rem; text-transform: none"></span>
                          </div>
                          <div class="mb-3">
                              <input
                                type="number"
                                class="form-control"
                                id="pincode"
                                onkeyup="pincodeCheck()"
                                placeholder="Pin Code"
                                name="pincode"
                                required
                                style="text-transform: none;"
                                pattern="[0-9]{6}"
                              />
                              <span
                              id="pincodemssg"
                              class="text-danger rounded"
                              style="font-size: 0.75rem; text-transform: none"></span>
                            </div>
                          <div class="mb-3">
                              <input
                                type="text"
                                class="form-control"
                                id="country"
                                onkeyup="countryCheck()"
                                placeholder="Country"
                                name="country"
                                style="text-transform: none;"
                              />
                              <span
                              id="countrymssg"
                              class="text-danger rounded"
                              style="font-size: 0.75rem; text-transform: none"></span>
                            </div>
                            <div class="mb-3">
                              <input
                                type="number"
                                class="form-control"
                                id="number"
                                onkeyup="numberCheck()"
                                placeholder="Contact Number"
                                name="contactNumber"
                                required
                                style="text-transform: none;"
                                pattern="[1-9]{1}[0-9]{9}"
                              />
                              <span
                              id="numbermssg"
                              class="text-danger rounded"
                              style="font-size: 0.75rem; text-transform: none"></span>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-dark"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary" id="submitBtn">
                          Save changes
                        </button>
                      </form> 
                      </div>
                             
                </div>
              </div>
            </div>
          <%if(allAddresses != null){%>
            <div class="container mx-auto row flex-column align-items-center">
                
              <% allAddresses.forEach(function(address,i){ %>        
                <div class="address rounded col-lg-8 p-4 mb-3 mx-auto border">
                  <div class="addresses">
                    <% if(address.primary==true){%>
                      <h6 class="fw-bold">
                      Default Address
                    </h6>
                    <%}else{%>
                      <h6>
                        Address
                      </h6>
                    <%}%>
            <p style="text-transform: none;">
                <%=address.building%>,</br><%=address.address%>, <%=address.pincode%></br><%=address.country%>
            </p>
            <p>
                <b style="text-transform: none;">
                    Contact Number: 
                </b> 
                    <%=address.contactNumber%>
            </p>  
        </div>
        <div class="d-flex justify-content-between">
          <div>
        
            <!-- <a type="Button" href="addresses/?edit=<%=i%>" class="btn btn-dark btn-sm px-3 mx-2 text-white">Edit</a> -->
            <a type="Button" href="addresses/delete?addressID=<%=address._id%>" onclick="return confirm('Proceed to delete address ?')" class="btn btn-sm px-3 mx-2 text-white" style="background-color: #850c0c;">Remove</a>
            </div>
            <% if(!address.primary){%>
              <a type="Button" href="addresses/changeRole?addressID=<%=address._id%> " class="btn btn-sm px-3 mx-2 text-white" style="background-color: #114110;">Set as default</a>
            <%}%>
      
        </div>
                </div>
             <% }) %> 
      
            </div>
          <%} else{%>
            <h5 class="text-center my-4 fw-light">Please add a new address.</h5>
          <%}%>
		
	
		




	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--===============================================================================================-->
	<script src="/public/js/main.js"></script>
	<!--===============================================================================================-->
<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/admin/vendor/jquery/jquery.min.js"></script>
<script src="/public/js/addressVali.js"></script>
</body>
</html>